In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [19]:
# Reading raw csv files
data07_path = "Resource/nrs_2007_final.csv"
data13_path = "Resource/nrs_2013_combined.csv"

data07_raw_df = pd.read_csv(data07_path)
print(f"2007 dataframe size is {data07_raw_df.shape}")
data13_raw_df = pd.read_csv(data13_path)
print(f"2013 dataframe size is {data13_raw_df.shape}")

2007 dataframe size is (11120, 313)
2013 dataframe size is (11322, 995)

In [21]:
# Getting selected columns for the 2007 data
col_list = ["STATE", "DATE", "weight", "NRS_DAGE", "NRS_DRACE", "NRS_PERDR"
           ,"NRS_LIVEMI", "NRS_FROM", "NRS_HEADED", "NRS_BETMI", "NRS_TODRK"
           ,"NRS_AGE", "NRS_ZIPCODE", "NRS_SCHOOL", "NRS_EMPLOY", "NRS_RACE"
           ,"NRS_VTYPE", "NRS_DSEX", "DQP2Q28", "DQP2Q29C", "DQP2Q32", "BLD_DRUG"
           ,"BLD_ETHANOL", "OF_DRUG", "resulbac2"]
data07_df = pd.read_csv(data07_path, low_memory=False, usecols=col_list)

# Checking list of columns imported from CSV to ensure matchh with sort listed columns
col_list_check = data07_df.columns.values.tolist()
col_list_check

['STATE',
 'DATE',
 'weight',
 'NRS_DAGE',
 'NRS_DRACE',
 'NRS_PERDR',
 'NRS_LIVEMI',
 'NRS_FROM',
 'NRS_HEADED',
 'NRS_BETMI',
 'NRS_TODRK',
 'NRS_AGE',
 'NRS_ZIPCODE',
 'NRS_SCHOOL',
 'NRS_EMPLOY',
 'NRS_RACE',
 'NRS_VTYPE',
 'NRS_DSEX',
 'DQP2Q28',
 'DQP2Q29C',
 'DQP2Q32',
 'BLD_DRUG',
 'BLD_ETHANOL',
 'OF_DRUG',
 'resulbac2']

In [22]:
col38_name = data07_raw_df.columns[38]
col38_name

'NRS_ZIPCODE'

In [23]:
data07_df.dtypes

STATE           object
DATE            object
weight         float64
NRS_DAGE       float64
NRS_DRACE       object
NRS_PERDR       object
NRS_LIVEMI      object
NRS_FROM        object
NRS_HEADED      object
NRS_BETMI       object
NRS_TODRK       object
NRS_AGE         object
NRS_ZIPCODE     object
NRS_SCHOOL      object
NRS_EMPLOY      object
NRS_RACE        object
NRS_VTYPE       object
NRS_DSEX       float64
DQP2Q28         object
DQP2Q29C        object
DQP2Q32         object
BLD_DRUG        object
BLD_ETHANOL     object
OF_DRUG         object
resulbac2       object
dtype: object

In [24]:
data07_df

,STATE,DATE,weight,NRS_DAGE,NRS_DRACE,NRS_PERDR,NRS_LIVEMI,NRS_FROM,NRS_HEADED,NRS_BETMI,...,NRS_RACE,NRS_VTYPE,NRS_DSEX,DQP2Q28,DQP2Q29C,DQP2Q32,BLD_DRUG,BLD_ETHANOL,OF_DRUG,resulbac2
0,TN,11/3/2007,2.337915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,0
1,IL,NaN,7.756659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,#NULL!
2,IN,NaN,0.815815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,0
3,MI,10/12/2007,0.645152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,0
4,IA,NaN,0.027994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,#NULL!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11115,IN,NaN,1.470439,2.0,White,21 - 40%,0 - 5,Sport or rec facility / park,Home (own home),0 - 5,...,White,Car,1.0,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,0
11116,PA,NaN,0.129975,2.0,White,0 - 20%,6 - 10,Restaurant / eating place,Home (own home),6 - 10,...,White,Car,2.0,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,#NULL!
11117,FL,NaN,0.349432,2.0,White,21 - 40%,11 - 20,Other,Home (own home),11 - 20,...,White,Car,2.0,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,#NULL!
11118,PA,NaN,0.134416,3.0,White,61 - 80%,6 - 10,Restaurant / eating place,Home (own home),16 - 20,...,White,Car,2.0,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,#NULL!
11119,IN,NaN,0.739787,2.0,White,21 - 40%,6 - 10,Work,Home (own home),16 - 20,...,White,Car,2.0,#NULL!,#NULL!,#NULL!,NaN,NaN,NaN,0

In [16]:
data07_df.dropna()

,STATE,DATE,weight,NRS_DAGE,NRS_DRACE,NRS_PERDR,NRS_LIVEMI,NRS_FROM,NRS_HEADED,NRS_BETMI,...,NRS_RACE,NRS_VTYPE,NRS_DSEX,DQP2Q28,DQP2Q29C,DQP2Q32,BLD_DRUG,BLD_ETHANOL,OF_DRUG,resulbac2
1968,IL,7/22/2007,7.442090,2.0,White,0 - 20%,6 - 10,Work,Home (own home),0 - 5,...,Hispanic,Car,1.0,2,2,2,Negative,Negative,Negative,0
2035,AL,39284,0.212804,1.0,White,21 - 40%,0 - 5,"Bar, tavern, club",Home (own home),16 - 20,...,Hispanic,SUV,1.0,2,#NULL!,#NULL!,Negative,Negative,Negative,0
2040,CO,9/15/2007,0.217643,3.0,Unknown,0 - 20%,More than 20,"Bar, tavern, club",Home (own home),More than 20,...,Hispanic,Pickup,1.0,2,#NULL!,2,Negative,Negative,Negative,0
2048,OK,7/28/2007,0.855352,2.0,White,21 - 40%,11 - 20,Work,Home (own home),16 - 20,...,Hispanic,Car,2.0,2,#NULL!,2,Negative,Negative,Negative,0
2069,WI,8/3/2007,0.509694,2.0,White,61 - 80%,11 - 20,Work,Home (own home),11 - 20,...,White,Motorcycle,1.0,2,#NULL!,2,Negative,Negative,Negative,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10307,KY,8/4/2007,0.052024,3.0,White,21 - 40%,More than 20,Home (own home),Restaurant / eating place,More than 20,...,White,Car,1.0,2,2,2,Butalbital 2400,Negative,Butalbital 109,0
10398,OK,7/27/2007,0.855352,3.0,Asian,41 - 60%,6 - 10,Other,Home (own home),6 - 10,...,American Indian or Native Alaska,Car,2.0,2,#NULL!,2,Sertraline 52; Desmethylsertraline 88,Negative,Negative,0
10470,CA,7/28/2007,9.972355,1.0,Asian,0 - 20%,0 - 5,Restaurant / eating place,Home (own home),0 - 5,...,Asian,Car,2.0,2,2,2,Negative,Negative,Negative,0
10478,IL,7/22/2007,4.900710,2.0,Refused to Answer,41 - 60%,0 - 5,Someone else's home,99,0 - 5,...,Hispanic,SUV,1.0,#NULL!,#NULL!,#NULL!,Negative,Negative,COC 53; BZE 17,0
10480,AZ,11/17/2007,1.339773,2.0,Unknown,0 - 20%,0 - 5,Work,Home (own home),0 - 5,...,Hispanic,SUV,1.0,2,#NULL!,2,Negative,Negative,Negative,0

In [28]:
# Getting selected columns for the 2013 data
# nighttime, nightday, Alcohol not in 2007

col_list = ["State", "race_obs", "Gender", "VehicleType", "FromWhere", "ToWhere"
           ,"AlcoholToday", "DriverAgeYears", "EducationLevel", "AreYouStudent", "AreYouEmployed"
           ,"Race", "bac_from_blood"]
data13_df = pd.read_csv(data13_path, low_memory=False, usecols=col_list)

# Checking list of columns imported from CSV to ensure matchh with sort listed columns
col_list_check = data13_df.columns.values.tolist()
col_list_check

['State',
 'race_obs',
 'Gender',
 'VehicleType',
 'FromWhere',
 'ToWhere',
 'AlcoholToday',
 'DriverAgeYears',
 'EducationLevel',
 'AreYouStudent',
 'AreYouEmployed',
 'Race',
 'bac_from_blood']