In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json 
import csv
import os

#output file
output_data_file = "Census_output/Census_data_total_2013.csv"

# Files to load
pop = os.path.join('Population_Resources', 'state-population.csv')
age =  os.path.join('Population_Resources', 'raw_data_age_2013.csv')
race = os.path.join('Population_Resources', 'raw_data_race_2013.csv')
gender = os.path.join('Population_Resources','raw_data_gender_2013.csv')
employment = os.path.join('Population_Resources', 'raw_data_employment_2013.csv')

pop_df = pd.read_csv(pop,skiprows=3, names=['State_Census_2013',"ages_Census_2013", "year_Census_2013",'Population_Census_2013'])
age_df = pd.read_csv(age, skiprows=3,names=['State_Census_2013',"Children 0-18_Census_2013", "Adults 19-25_Census_2013",
                                            "Adults 26-34_Census_2013", "Adults 35-54_Census_2013",'Adults 55-64_Census_2013','65+_Census_2013','Total','8'])
race_df = pd.read_csv(race, skiprows=3,names=['State_Census_2013',"White_Census_2013", "Hispanic_Census_2013","Black_Census_2013",'American Indian/Alaska Native_Census_2013',
                                      'Asian+_Census_2013','Native Hawaiian/Other Pacific Islander_Census_2013',
                                      'Two Or More Races_Census_2013', 'Total', 'Delete'])
gender_df = pd.read_csv(gender, skiprows=3, names=['State_Census_2013','Male_Census_2013',"Female_Census_2013", "Total",'Delete'])
employment_df = pd.read_csv(employment, skiprows=3, names=['State_Census_2013','Delete1',"Delete2", "Unemployed_Census_2013",'Employed','Delete3'])

In [25]:
pop_total = pop_df[pop_df ["ages_Census_2013"] == 'total'] 
pop_year_2013 = pop_total[pop_total['year_Census_2013'] == 2013]
pop_year_2013 = pop_year_2013.drop(columns=['ages_Census_2013', 'year_Census_2013'])
pop_year_2013.columns = ['State_Census_2013', 'Population_Census_2013']
pop_year_2013 = pop_year_2013.replace(['USA'],'United States')
pop_year_2013 = pop_year_2013.replace(['AK'], 'Alaska')
pop_year_2013 = pop_year_2013.replace(['AL'], 'Alabama')
pop_year_2013 = pop_year_2013.replace(['AR'], 'Arkansas')
pop_year_2013 = pop_year_2013.replace(['AS'], 'American Samoa')
pop_year_2013 = pop_year_2013.replace(['AZ'], 'Arizona')
pop_year_2013 = pop_year_2013.replace(['CA'], 'California')
pop_year_2013 = pop_year_2013.replace(['CO'], 'Colorado')
pop_year_2013 = pop_year_2013.replace(['CT'], 'Connecticut')
pop_year_2013 = pop_year_2013.replace(['DC'], 'District of Columbia')
pop_year_2013 = pop_year_2013.replace(['DE'], 'Delaware')
pop_year_2013 = pop_year_2013.replace(['FL'], 'Florida')
pop_year_2013 = pop_year_2013.replace(['GA'], 'Georgia')
pop_year_2013 = pop_year_2013.replace(['GU'], 'Guam')
pop_year_2013 = pop_year_2013.replace(['HI'], 'Hawaii')
pop_year_2013 = pop_year_2013.replace(['IA'], 'Iowa')
pop_year_2013 = pop_year_2013.replace(['ID'], 'Idaho')
pop_year_2013 = pop_year_2013.replace(['IL'], 'Illinois')
pop_year_2013 = pop_year_2013.replace(['IN'], 'Indiana')
pop_year_2013 = pop_year_2013.replace(['KS'], 'Kansas')
pop_year_2013 = pop_year_2013.replace(['KY'], 'Kentucky')
pop_year_2013 = pop_year_2013.replace(['LA'], 'Louisiana')
pop_year_2013 = pop_year_2013.replace(['MA'], 'Massachusetts')
pop_year_2013 = pop_year_2013.replace(['MD'], 'Maryland')
pop_year_2013 = pop_year_2013.replace(['ME'], 'Maine')
pop_year_2013 = pop_year_2013.replace(['MI'], 'Michigan')
pop_year_2013 = pop_year_2013.replace(['MN'], 'Minnesota')
pop_year_2013 = pop_year_2013.replace(['MO'], 'Missouri')
pop_year_2013 = pop_year_2013.replace(['MP'], 'Northern Mariana Islands')
pop_year_2013 = pop_year_2013.replace(['MS'], 'Mississippi')
pop_year_2013 = pop_year_2013.replace(['MT'], 'Montana')
pop_year_2013 = pop_year_2013.replace(['NA'], 'National')
pop_year_2013 = pop_year_2013.replace(['NC'], 'North Carolina')
pop_year_2013 = pop_year_2013.replace(['ND'], 'North Dakota')
pop_year_2013 = pop_year_2013.replace(['NE'], 'Nebraska')
pop_year_2013 = pop_year_2013.replace(['NH'], 'New Hampshire')
pop_year_2013 = pop_year_2013.replace(['NJ'], 'New Jersey')
pop_year_2013 = pop_year_2013.replace(['NM'], 'New Mexico')
pop_year_2013 = pop_year_2013.replace(['NV'], 'Nevada')
pop_year_2013 = pop_year_2013.replace(['NY'], 'New York')
pop_year_2013 = pop_year_2013.replace(['OH'], 'Ohio')
pop_year_2013 = pop_year_2013.replace(['OK'], 'Oklahoma')
pop_year_2013 = pop_year_2013.replace(['OR'], 'Oregon')
pop_year_2013 = pop_year_2013.replace(['PA'], 'Pennsylvania')
pop_year_2013 = pop_year_2013.replace(['PR'], 'Puerto Rico')
pop_year_2013 = pop_year_2013.replace(['RI'], 'Rhode Island')
pop_year_2013 = pop_year_2013.replace(['SC'], 'South Carolina')
pop_year_2013 = pop_year_2013.replace(['SD'], 'South Dakota')
pop_year_2013 = pop_year_2013.replace(['TN'], 'Tennessee')
pop_year_2013 = pop_year_2013.replace(['TX'], 'Texas')
pop_year_2013 = pop_year_2013.replace(['UT'], 'Utah')
op_year_2007 = pop_year_2013.replace(['VA'], 'Virginia')
pop_year_2013 = pop_year_2013.replace(['VI'], 'Virgin Islands')
pop_year_2013 = pop_year_2013.replace(['VT'], 'Vermont')
pop_year_2013 = pop_year_2013.replace(['WA'], 'Washington')
pop_year_2013 = pop_year_2013.replace(['WI'], 'Wisconsin',)
pop_year_2013 = pop_year_2013.replace(['WV'], 'West Virginia')
pop_year_2013 = pop_year_2013.replace(['WY'], 'Wyoming')
pop_year_2013

         State_Census_2013  Population_Census_2013
37           United States             316128839.0
54                 Alabama               4833722.0
132                 Alaska                735132.0
148                Arizona               6626624.0
230               Arkansas               2959373.0
244             California              38332521.0
326               Colorado               5268367.0
340            Connecticut               3596080.0
420               Delaware                925749.0
436   District of Columbia                646449.0
518                Florida              19552860.0
531                Georgia               9992167.0
614                 Hawaii               1404054.0
627                  Idaho               1612136.0
710               Illinois              12882135.0
723                Indiana               6570902.0
806                   Iowa               3090416.0
819                 Kansas               2893957.0
902               Kentucky               4395295.0
915              Louisiana               4625470.0
998                  Maine               1328302.0
1011              Maryland               5928814.0
1094         Massachusetts               6692824.0
1107              Michigan               9895622.0
1190             Minnesota               5420380.0
1203           Mississippi               2991207.0
1286              Missouri               6044171.0
1299               Montana               1015165.0
1382              Nebraska               1868516.0
1395                Nevada               2790136.0
1478         New Hampshire               1323459.0
1491            New Jersey               8899339.0
1572            New Mexico               2085287.0
1589              New York              19651127.0
1668        North Carolina               9848060.0
1685          North Dakota                723393.0
1764                  Ohio              11570808.0
1781              Oklahoma               3850568.0
1860                Oregon               3930065.0
1877          Pennsylvania              12773801.0
1956          Rhode Island               1051511.0
1973        South Carolina               4774839.0
2052          South Dakota                844877.0
2069             Tennessee               6495978.0
2148                 Texas              26448193.0
2165                  Utah               2900872.0
2244               Vermont                626630.0
2261                    VA               8260405.0
2340            Washington               6971406.0
2357         West Virginia               1854304.0
2436             Wisconsin               5742713.0
2453               Wyoming                582658.0
2532           Puerto Rico               3615086.0

In [26]:
race_df = race_df.drop(columns=['Delete'])
race_df = race_df.drop(columns=['Total'])
race_df.head()

,State_Census_2013,White_Census_2013,Hispanic_Census_2013,Black_Census_2013,American Indian/Alaska Native_Census_2013,Asian+_Census_2013,Native Hawaiian/Other Pacific Islander_Census_2013,Two Or More Races_Census_2013
0,United States,192379500.0,37122600.0,52764900.0,2008700.0,15505700.0,448800.0,7275400.0
1,Alabama,3136100.0,1232900.0,184500.0,17900.0,53500.0,NaN,79400.0
2,Alaska,441000.0,23600.0,44100.0,97400.0,35500.0,9800.0,53800.0
3,Arizona,3675000.0,249900.0,1951200.0,250800.0,186000.0,8400.0,144400.0
4,Arkansas,2116100.0,442400.0,197600.0,16200.0,35000.0,NaN,60400.0

In [27]:
gender_df = gender_df.drop(columns=['Delete','Total'])
gender_df = gender_df.dropna()
gender_df.head()

  State_Census_2013  Male_Census_2013  Female_Census_2013
0     United States              0.49                0.51
1           Alabama              0.48                0.52
2            Alaska              0.52                0.48
3           Arizona              0.49                0.51
4          Arkansas              0.49                0.51

In [28]:
employment_df = employment_df.drop(columns=['Delete1','Delete2', 'Delete3'])
employment_df = employment_df.dropna()
employment_df.head()

  State_Census_2013  Unemployed_Census_2013     Employed
0     United States              31254000.0  264151600.0
1           Alabama                678000.0    4004400.0
2            Alaska                 66500.0     638800.0
3           Arizona                724000.0    5460900.0
4          Arkansas                372900.0    2430900.0

In [29]:
age_df = age_df.drop(columns=['8'])
age_df = age_df.drop(columns=['Total'])
age_df = age_df.dropna()
age_df.head()

,State_Census_2013,Children 0-18_Census_2013,Adults 19-25_Census_2013,Adults 26-34_Census_2013,Adults 35-54_Census_2013,Adults 55-64_Census_2013,65+_Census_2013
0,United States,76054600.0,28894900.0,37013500.0,83185000.0,39003500.0,43354000.0
1,Alabama,1165900.0,441800.0,533800.0,1246600.0,616200.0,701400.0
2,Alaska,191600.0,75300.0,96000.0,186900.0,88900.0,66300.0
3,Arizona,1668100.0,615800.0,771600.0,1631200.0,774200.0,1004900.0
4,Arkansas,731400.0,255500.0,337700.0,742800.0,363500.0,437700.0

In [31]:
Census_data_1 = pd.merge(race_df,gender_df, on=["State_Census_2013"])
Census_data_1.head()

,State_Census_2013,White_Census_2013,Hispanic_Census_2013,Black_Census_2013,American Indian/Alaska Native_Census_2013,Asian+_Census_2013,Native Hawaiian/Other Pacific Islander_Census_2013,Two Or More Races_Census_2013,Male_Census_2013,Female_Census_2013
0,United States,192379500.0,37122600.0,52764900.0,2008700.0,15505700.0,448800.0,7275400.0,0.49,0.51
1,Alabama,3136100.0,1232900.0,184500.0,17900.0,53500.0,NaN,79400.0,0.48,0.52
2,Alaska,441000.0,23600.0,44100.0,97400.0,35500.0,9800.0,53800.0,0.52,0.48
3,Arizona,3675000.0,249900.0,1951200.0,250800.0,186000.0,8400.0,144400.0,0.49,0.51
4,Arkansas,2116100.0,442400.0,197600.0,16200.0,35000.0,NaN,60400.0,0.49,0.51

In [33]:
Census_data_2 = pd.merge(Census_data_1,employment_df, on=["State_Census_2013"])
Census_data_2.head()

,State_Census_2013,White_Census_2013,Hispanic_Census_2013,Black_Census_2013,American Indian/Alaska Native_Census_2013,Asian+_Census_2013,Native Hawaiian/Other Pacific Islander_Census_2013,Two Or More Races_Census_2013,Male_Census_2013,Female_Census_2013,Unemployed_Census_2013,Employed
0,United States,192379500.0,37122600.0,52764900.0,2008700.0,15505700.0,448800.0,7275400.0,0.49,0.51,31254000.0,264151600.0
1,Alabama,3136100.0,1232900.0,184500.0,17900.0,53500.0,NaN,79400.0,0.48,0.52,678000.0,4004400.0
2,Alaska,441000.0,23600.0,44100.0,97400.0,35500.0,9800.0,53800.0,0.52,0.48,66500.0,638800.0
3,Arizona,3675000.0,249900.0,1951200.0,250800.0,186000.0,8400.0,144400.0,0.49,0.51,724000.0,5460900.0
4,Arkansas,2116100.0,442400.0,197600.0,16200.0,35000.0,NaN,60400.0,0.49,0.51,372900.0,2430900.0

In [34]:
Census_data_3 = pd.merge(Census_data_2,age_df, on=["State_Census_2013"])
Census_data_3.head()

,State_Census_2013,White_Census_2013,Hispanic_Census_2013,Black_Census_2013,American Indian/Alaska Native_Census_2013,Asian+_Census_2013,Native Hawaiian/Other Pacific Islander_Census_2013,Two Or More Races_Census_2013,Male_Census_2013,Female_Census_2013,Unemployed_Census_2013,Employed,Children 0-18_Census_2013,Adults 19-25_Census_2013,Adults 26-34_Census_2013,Adults 35-54_Census_2013,Adults 55-64_Census_2013,65+_Census_2013
0,United States,192379500.0,37122600.0,52764900.0,2008700.0,15505700.0,448800.0,7275400.0,0.49,0.51,31254000.0,264151600.0,76054600.0,28894900.0,37013500.0,83185000.0,39003500.0,43354000.0
1,Alabama,3136100.0,1232900.0,184500.0,17900.0,53500.0,NaN,79400.0,0.48,0.52,678000.0,4004400.0,1165900.0,441800.0,533800.0,1246600.0,616200.0,701400.0
2,Alaska,441000.0,23600.0,44100.0,97400.0,35500.0,9800.0,53800.0,0.52,0.48,66500.0,638800.0,191600.0,75300.0,96000.0,186900.0,88900.0,66300.0
3,Arizona,3675000.0,249900.0,1951200.0,250800.0,186000.0,8400.0,144400.0,0.49,0.51,724000.0,5460900.0,1668100.0,615800.0,771600.0,1631200.0,774200.0,1004900.0
4,Arkansas,2116100.0,442400.0,197600.0,16200.0,35000.0,NaN,60400.0,0.49,0.51,372900.0,2430900.0,731400.0,255500.0,337700.0,742800.0,363500.0,437700.0

In [35]:
Census_data_total = pd.merge(Census_data_3,pop_year_2013, on=["State_Census_2013"])
Census_data_total

,State_Census_2013,White_Census_2013,Hispanic_Census_2013,Black_Census_2013,American Indian/Alaska Native_Census_2013,Asian+_Census_2013,Native Hawaiian/Other Pacific Islander_Census_2013,Two Or More Races_Census_2013,Male_Census_2013,Female_Census_2013,Unemployed_Census_2013,Employed,Children 0-18_Census_2013,Adults 19-25_Census_2013,Adults 26-34_Census_2013,Adults 35-54_Census_2013,Adults 55-64_Census_2013,65+_Census_2013,Population_Census_2013
0,United States,192379500.0,37122600.0,52764900.0,2008700.0,15505700.0,448800.0,7275400.0,0.49,0.51,31254000.0,264151600.0,76054600.0,28894900.0,37013500.0,83185000.0,39003500.0,43354000.0,316128839.0
1,Alabama,3136100.0,1232900.0,184500.0,17900.0,53500.0,NaN,79400.0,0.48,0.52,678000.0,4004400.0,1165900.0,441800.0,533800.0,1246600.0,616200.0,701400.0,4833722.0
2,Alaska,441000.0,23600.0,44100.0,97400.0,35500.0,9800.0,53800.0,0.52,0.48,66500.0,638800.0,191600.0,75300.0,96000.0,186900.0,88900.0,66300.0,735132.0
3,Arizona,3675000.0,249900.0,1951200.0,250800.0,186000.0,8400.0,144400.0,0.49,0.51,724000.0,5460900.0,1668100.0,615800.0,771600.0,1631200.0,774200.0,1004900.0,6626624.0
4,Arkansas,2116100.0,442400.0,197600.0,16200.0,35000.0,NaN,60400.0,0.49,0.51,372900.0,2430900.0,731400.0,255500.0,337700.0,742800.0,363500.0,437700.0,2959373.0
5,California,14572300.0,2061400.0,14441900.0,131100.0,5083300.0,123000.0,1098300.0,0.49,0.51,3760700.0,32803500.0,9504300.0,3840800.0,4845800.0,10248700.0,4364000.0,4707700.0,38332521.0
6,Colorado,3558300.0,183600.0,1079700.0,23200.0,147000.0,5500.0,132900.0,0.50,0.50,417600.0,4500500.0,1288700.0,484600.0,665600.0,1412000.0,649600.0,629700.0,5268367.0
7,Connecticut,2419300.0,333500.0,508100.0,3900.0,141500.0,NaN,72200.0,0.49,0.51,292000.0,2957600.0,816100.0,286200.0,384800.0,994300.0,476200.0,521400.0,3596080.0
8,Delaware,577900.0,184300.0,79600.0,2800.0,33700.0,NaN,19900.0,0.48,0.52,88000.0,756500.0,210700.0,78400.0,104800.0,243500.0,119100.0,142100.0,925749.0
9,District of Columbia,214500.0,296700.0,63500.0,NaN,19100.0,NaN,15600.0,0.47,0.53,93600.0,539500.0,113800.0,68800.0,126600.0,162500.0,67800.0,70800.0,646449.0
10,Florida,10748400.0,2897800.0,4549700.0,39300.0,489900.0,7800.0,360400.0,0.49,0.52,2092100.0,15519600.0,4177900.0,1704900.0,2089500.0,5056300.0,2491100.0,3573500.0,19552860.0
11,Georgia,5316200.0,2948800.0,876600.0,16400.0,342400.0,3100.0,187300.0,0.48,0.52,1168800.0,8527300.0,2589900.0,913100.0,1156600.0,2720800.0,1147000.0,1163500.0,9992167.0
12,Hawaii,289000.0,20400.0,127800.0,NaN,509500.0,118900.0,264700.0,0.49,0.51,131300.0,1115600.0,314700.0,119600.0,160800.0,344100.0,176500.0,215900.0,1404054.0
13,Idaho,1317000.0,7000.0,186300.0,15800.0,24700.0,NaN,29000.0,0.50,0.50,132100.0,1361900.0,443000.0,147100.0,182600.0,394600.0,194600.0,219000.0,1612136.0
14,Illinois,7898400.0,1739200.0,2081000.0,14500.0,613000.0,2400.0,222600.0,0.49,0.51,1163300.0,10896600.0,3121600.0,1185300.0,1565700.0,3450400.0,1573600.0,1674500.0,12882135.0
15,Indiana,5138600.0,557200.0,410400.0,8100.0,114400.0,NaN,134600.0,0.49,0.51,640600.0,5487400.0,1634700.0,585600.0,734100.0,1709500.0,823500.0,879000.0,6570902.0
16,Iowa,2619700.0,95100.0,162100.0,6600.0,58900.0,NaN,45100.0,0.50,0.50,204800.0,2535600.0,748100.0,272500.0,344600.0,770700.0,399800.0,454700.0,3090416.0
17,Kansas,2162900.0,156400.0,311400.0,19600.0,67100.0,NaN,77800.0,0.49,0.51,219100.0,2407000.0,741500.0,262500.0,336000.0,710600.0,356300.0,389600.0,2893957.0
18,Kentucky,3664400.0,325700.0,134500.0,7600.0,49900.0,NaN,77200.0,0.49,0.51,598600.0,3648200.0,1042400.0,391900.0,484700.0,1160700.0,568600.0,612600.0,4395295.0
19,Louisiana,2684600.0,1427300.0,207900.0,24600.0,71700.0,NaN,66300.0,0.48,0.52,582100.0,3896900.0,1152000.0,449500.0,562800.0,1156700.0,575900.0,586400.0,4625470.0
20,Maine,1215800.0,12400.0,16200.0,7600.0,12800.0,NaN,26800.0,0.48,0.52,125300.0,1064000.0,266300.0,103600.0,129000.0,361100.0,204000.0,227900.0,1328302.0
21,Maryland,3067400.0,1665700.0,522900.0,13800.0,344600.0,NaN,151400.0,0.48,0.52,443200.0,4999400.0,1392400.0,510000.0,711200.0,1639800.0,746000.0,768100.0,5928814.0
22,Massachusetts,4828400.0,404300.0,680700.0,8100.0,363500.0,NaN,165300.0,0.49,0.52,557500.0,5497200.0,1439300.0,584200.0,786400.0,1827400.0,859900.0,954300.0,6692824.0
23,Michigan,7363300.0,1312200.0,455000.0,41400.0,258400.0,NaN,231900.0,0.49,0.51,1160900.0,8220400.0,2314600.0,929000.0,1028900.0,2604100.0,1343800.0,1443900.0,9895622.0
24,Minnesota,4334600.0,280900.0,255900.0,55400.0,235500.0,NaN,124200.0,0.50,0.51,340600.0,4560500.0,1314000.0,462000.0,661400.0,1432400.0,690800.0,727300.0,5420380.0
25,Mississippi,1664000.0,1085700.0,72800.0,10500.0,27400.0,NaN,28500.0,0.48,0.52,449200.0,2487000.0,765300.0,278200.0,325300.0,750600.0,367600.0,402200.0,2991207.0
26,Missouri,4719900.0,655700.0,220500.0,19100.0,96400.0,NaN,137800.0,0.49,0.51,595200.0,4981200.0,1428700.0,546000.0,694700.0,1542600.0,769100.0,872000.0,6044171.0
27,Montana,861800.0,NaN,31200.0,63200.0,6700.0,NaN,20700.0,0.50,0.50,99500.0,826700.0,231200.0,90800.0,109700.0,246900.0,148200.0,159500.0,1015165.0
28,Nebraska,1465800.0,83600.0,179700.0,10900.0,32200.0,NaN,38700.0,0.50,0.50,110000.0,1558600.0,477800.0,169100.0,221900.0,460100.0,229600.0,252600.0,1868516.0
29,Nevada,1432400.0,216800.0,756500.0,23900.0,212300.0,17700.0,85800.0,0.50,0.50,283000.0,2369500.0,686700.0,250400.0,346900.0,750700.0,334900.0,375900.0,2790136.0
30,New Hampshire,1174500.0,10000.0,40100.0,2300.0,30800.0,NaN,23000.0,0.49,0.51,85400.0,1085900.0,279900.0,104900.0,133000.0,375700.0,192300.0,194900.0,1323459.0
31,New Jersey,5011800.0,1082400.0,1658100.0,8900.0,782300.0,NaN,172500.0,0.49,0.51,712100.0,7467600.0,2105800.0,734700.0,997000.0,2515200.0,1114900.0,1249300.0,8899339.0
32,New Mexico,803000.0,33400.0,964500.0,177200.0,25500.0,NaN,35400.0,0.49,0.51,293200.0,1737100.0,531300.0,196600.0,234300.0,509100.0,265800.0,303100.0,2085287.0
33,New York,10889900.0,2716400.0,3525400.0,45900.0,1504300.0,5800.0,431900.0,0.48,0.52,1906200.0,16395600.0,4374000.0,1843800.0,2443300.0,5292700.0,2441800.0,2724000.0,19651127.0
34,North Carolina,6141200.0,2001700.0,839000.0,102800.0,233400.0,NaN,201300.0,0.48,0.52,1126100.0,8158800.0,2363300.0,869700.0,1082800.0,2633000.0,1210000.0,1363700.0,9848060.0
35,North Dakota,606300.0,11100.0,15800.0,38500.0,7000.0,NaN,14400.0,0.51,0.49,38900.0,596600.0,163900.0,86200.0,84500.0,170800.0,91200.0,96900.0,723393.0
36,Ohio,9063000.0,1329300.0,366300.0,12300.0,203100.0,3400.0,262200.0,0.49,0.51,1199600.0,9557900.0,2718900.0,1004700.0,1271300.0,3023400.0,1539600.0,1681800.0,11570808.0
37,Oklahoma,2521400.0,260100.0,357200.0,286800.0,62900.0,NaN,237700.0,0.49,0.51,386000.0,3199800.0,976900.0,358600.0,454200.0,951400.0,458600.0,527100.0,3850568.0
38,Oregon,2985100.0,62000.0,473500.0,36000.0,149900.0,14400.0,130800.0,0.49,0.51,410400.0,3258200.0,883400.0,351200.0,466000.0,1023800.0,533700.0,593400.0,3930065.0
39,Pennsylvania,9704800.0,1283000.0,771900.0,13200.0,364900.0,NaN,205100.0,0.49,0.51,1246400.0,10331600.0,2790100.0,1095600.0,1381600.0,3338100.0,1726200.0,2012600.0,12773801.0
40,Rhode Island,751900.0,52000.0,139200.0,3800.0,29800.0,NaN,31400.0,0.48,0.52,97200.0,853800.0,218300.0,100100.0,116500.0,279300.0,139500.0,154800.0,1051511.0
41,South Carolina,2964300.0,1254800.0,242000.0,13200.0,60900.0,NaN,78300.0,0.48,0.52,589600.0,3908200.0,1115200.0,435700.0,516300.0,1225900.0,615200.0,708000.0,4774839.0
42,South Dakota,678900.0,13100.0,25900.0,66400.0,8200.0,NaN,19200.0,0.50,0.50,64500.0,694400.0,207800.0,74200.0,97100.0,206200.0,109100.0,117300.0,844877.0
43,Tennessee,4741900.0,1051300.0,303200.0,14200.0,93100.0,2700.0,112300.0,0.48,0.52,796800.0,5398900.0,1541500.0,579300.0,732400.0,1720800.0,825000.0,919700.0,6495978.0
44,Texas,11329100.0,2922400.0,9947800.0,58900.0,1065300.0,16500.0,433100.0,0.49,0.51,2342400.0,22896800.0,7302000.0,2550900.0,3294900.0,6904600.0,2844400.0,2876200.0,26448193.0
45,Utah,2267600.0,26900.0,380000.0,28200.0,63400.0,24300.0,58900.0,0.50,0.50,192000.0,2570300.0,927800.0,312000.0,391200.0,674500.0,264900.0,279100.0,2900872.0
46,Vermont,567200.0,6000.0,9000.0,1600.0,8000.0,NaN,10900.0,0.49,0.51,49500.0,502200.0,129300.0,47400.0,63800.0,167900.0,93900.0,100500.0,626630.0
47,Washington,4827300.0,230900.0,810500.0,78200.0,525000.0,39800.0,285900.0,0.50,0.50,644100.0,5867100.0,1637100.0,621700.0,871200.0,1845600.0,891500.0,930800.0,6971406.0
48,West Virginia,1676500.0,53600.0,21900.0,NaN,10000.0,NaN,33800.0,0.49,0.51,269600.0,1487300.0,390700.0,155800.0,189900.0,480000.0,270900.0,310900.0,1854304.0
49,Wisconsin,4620800.0,332800.0,354300.0,44100.0,135800.0,NaN,103000.0,0.49,0.51,450000.0,4772600.0,1349500.0,497400.0,645700.0,1518000.0,761900.0,820000.0,5742713.0
50,Wyoming,482300.0,7200.0,49700.0,10200.0,4600.0,NaN,13000.0,0.51,0.49,38100.0,491900.0,142300.0,55100.0,74100.0,140900.0,79600.0,75500.0,582658.0
51,Puerto Rico,21500.0,2100.0,3550700.0,NaN,NaN,NaN,6300.0,0.48,0.52,964400.0,2989800.0,866300.0,362600.0,391700.0,935700.0,433600.0,592200.0,3615086.0

In [36]:
Census_data_total.to_csv(output_data_file)