In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json 
import csv
import os

#output file
output_data_file = "Census_output/Census_data_total.csv"

# Files to load
pop = os.path.join('Population_Resources', 'state-population.csv')
age =  os.path.join('Population_Resources', 'raw_data_age_2007.csv')
race = os.path.join('Population_Resources', 'raw_data_race_2007.csv')
gender = os.path.join('Population_Resources','raw_data_gender_2007.csv')
employment = os.path.join('Population_Resources', 'raw_data_employment_2007.csv')

pop_df = pd.read_csv(pop,skiprows=3, names=['State',"ages", "year",'Population'])
age_df = pd.read_csv(age, skiprows=3,names=['State',"Children 0-18", "Adults 19-25",
                                            "Adults 26-34", "Adults 35-54",'Adults 55-64','65+','Total','8'])
race_df = pd.read_csv(race, skiprows=3,names=['State',"White", "Hispanic","Black",'American Indian/Alaska Native',
                                      'Asian+','Native Hawaiian/Other Pacific Islander',
                                      'Two Or More Races', 'Total', 'Delete'])
gender_df = pd.read_csv(gender, skiprows=3, names=['State','Male',"Female", "Total",'Delete'])
employment_df = pd.read_csv(employment, skiprows=3, names=['State','Delete1',"Delete2", "Unemployed",'Employed','Delete3'])

In [68]:
pop_total = pop_df[pop_df ["ages"] == 'total'] 
pop_year_2007 = pop_total[pop_total['year'] == 2007]
pop_year_2007 = pop_year_2007.drop(columns=['ages', 'year'])
pop_year_2007.columns = ['State', 'Population']
pop_year_2007 = pop_year_2007.replace(['USA'],'United States')
pop_year_2007 = pop_year_2007.replace(['AK'], 'Alaska')
pop_year_2007 = pop_year_2007.replace(['AL'], 'Alabama')
pop_year_2007 = pop_year_2007.replace(['AR'], 'Arkansas')
pop_year_2007 = pop_year_2007.replace(['AS'], 'American Samoa')
pop_year_2007 = pop_year_2007.replace(['AZ'], 'Arizona')
pop_year_2007 = pop_year_2007.replace(['CA'], 'California')
pop_year_2007 = pop_year_2007.replace(['CO'], 'Colorado')
pop_year_2007 = pop_year_2007.replace(['CT'], 'Connecticut')
pop_year_2007 = pop_year_2007.replace(['DC'], 'District of Columbia')
pop_year_2007 = pop_year_2007.replace(['DE'], 'Delaware')
pop_year_2007 = pop_year_2007.replace(['FL'], 'Florida')
pop_year_2007 = pop_year_2007.replace(['GA'], 'Georgia')
pop_year_2007 = pop_year_2007.replace(['GU'], 'Guam')
pop_year_2007 = pop_year_2007.replace(['HI'], 'Hawaii')
pop_year_2007 = pop_year_2007.replace(['IA'], 'Iowa')
pop_year_2007 = pop_year_2007.replace(['ID'], 'Idaho')
pop_year_2007 = pop_year_2007.replace(['IL'], 'Illinois')
pop_year_2007 = pop_year_2007.replace(['IN'], 'Indiana')
pop_year_2007 = pop_year_2007.replace(['KS'], 'Kansas')
pop_year_2007 = pop_year_2007.replace(['KY'], 'Kentucky')
pop_year_2007 = pop_year_2007.replace(['LA'], 'Louisiana')
pop_year_2007 = pop_year_2007.replace(['MA'], 'Massachusetts')
pop_year_2007 = pop_year_2007.replace(['MD'], 'Maryland')
pop_year_2007 = pop_year_2007.replace(['ME'], 'Maine')
pop_year_2007 = pop_year_2007.replace(['MI'], 'Michigan')
pop_year_2007 = pop_year_2007.replace(['MN'], 'Minnesota')
pop_year_2007 = pop_year_2007.replace(['MO'], 'Missouri')
pop_year_2007 = pop_year_2007.replace(['MP'], 'Northern Mariana Islands')
pop_year_2007 = pop_year_2007.replace(['MS'], 'Mississippi')
pop_year_2007 = pop_year_2007.replace(['MT'], 'Montana')
pop_year_2007 = pop_year_2007.replace(['NA'], 'National')
pop_year_2007 = pop_year_2007.replace(['NC'], 'North Carolina')
pop_year_2007 = pop_year_2007.replace(['ND'], 'North Dakota')
pop_year_2007 = pop_year_2007.replace(['NE'], 'Nebraska')
pop_year_2007 = pop_year_2007.replace(['NH'], 'New Hampshire')
pop_year_2007 = pop_year_2007.replace(['NJ'], 'New Jersey')
pop_year_2007 = pop_year_2007.replace(['NM'], 'New Mexico')
pop_year_2007 = pop_year_2007.replace(['NV'], 'Nevada')
pop_year_2007 = pop_year_2007.replace(['NY'], 'New York')
pop_year_2007 = pop_year_2007.replace(['OH'], 'Ohio')
pop_year_2007 = pop_year_2007.replace(['OK'], 'Oklahoma')
pop_year_2007 = pop_year_2007.replace(['OR'], 'Oregon')
pop_year_2007 = pop_year_2007.replace(['PA'], 'Pennsylvania')
pop_year_2007 = pop_year_2007.replace(['PR'], 'Puerto Rico')
pop_year_2007 = pop_year_2007.replace(['RI'], 'Rhode Island')
pop_year_2007 = pop_year_2007.replace(['SC'], 'South Carolina')
pop_year_2007 = pop_year_2007.replace(['SD'], 'South Dakota')
pop_year_2007 = pop_year_2007.replace(['TN'], 'Tennessee')
pop_year_2007 = pop_year_2007.replace(['TX'], 'Texas')
pop_year_2007 = pop_year_2007.replace(['UT'], 'Utah')
op_year_2007 = pop_year_2007.replace(['VA'], 'Virginia')
pop_year_2007 = pop_year_2007.replace(['VI'], 'Virgin Islands')
pop_year_2007 = pop_year_2007.replace(['VT'], 'Vermont')
pop_year_2007 = pop_year_2007.replace(['WA'], 'Washington')
pop_year_2007 = pop_year_2007.replace(['WI'], 'Wisconsin',)
pop_year_2007 = pop_year_2007.replace(['WV'], 'West Virginia')
pop_year_2007 = pop_year_2007.replace(['WY'], 'Wyoming')
pop_year_2007

                     State   Population
32           United States  301231207.0
55                 Alabama    4672840.0
127                 Alaska     680300.0
151                Arizona    6167681.0
225               Arkansas    2848650.0
247             California   36250311.0
321               Colorado    4803868.0
343            Connecticut    3527270.0
417               Delaware     871749.0
439   District of Columbia     574404.0
511                Florida   18367842.0
535                Georgia    9349988.0
609                 Hawaii    1315675.0
631                  Idaho    1505105.0
705               Illinois   12695866.0
727                Indiana    6379599.0
801                   Iowa    2999212.0
823                 Kansas    2783785.0
897               Kentucky    4256672.0
919              Louisiana    4375581.0
993                  Maine    1327040.0
1015              Maryland    5653408.0
1089         Massachusetts    6431559.0
1111              Michigan   10001284.0
1185             Minnesota    5207203.0
1207           Mississippi    2928350.0
1281              Missouri    5887612.0
1303               Montana     964706.0
1377              Nebraska    1783440.0
1399                Nevada    2601072.0
1473         New Hampshire    1312540.0
1495            New Jersey    8677885.0
1569            New Mexico    1990070.0
1591              New York   19132335.0
1665        North Carolina    9118037.0
1687          North Dakota     652822.0
1761                  Ohio   11500468.0
1783              Oklahoma    3634349.0
1857                Oregon    3722417.0
1879          Pennsylvania   12563937.0
1953          Rhode Island    1057315.0
1975        South Carolina    4444110.0
2049          South Dakota     791623.0
2071             Tennessee    6175727.0
2145                 Texas   23831983.0
2167                  Utah    2597746.0
2241               Vermont     623481.0
2263                    VA    7751000.0
2337            Washington    6461587.0
2359         West Virginia    1834052.0
2433             Wisconsin    5610775.0
2455               Wyoming     534876.0
2527           Puerto Rico    3782995.0

In [59]:
race_df = race_df.drop(columns=['Delete'])
race_df = race_df.drop(columns=['Total'])
race_df.head()

,State,White,Hispanic,Black,American Indian/Alaska Native,Asian+,Native Hawaiian/Other Pacific Islander,Two Or More Races
0,United States,193573200.0,35033200.0,45753600.0,1919700.0,12947100.0,384400.0,5658400.0
1,Alabama,3108700.0,1169700.0,124800.0,22200.0,43900.0,NaN,56600.0
2,Alaska,433100.0,18700.0,34600.0,86900.0,30400.0,5600.0,45300.0
3,Arizona,3704300.0,214500.0,1922100.0,261200.0,148600.0,6300.0,106000.0
4,Arkansas,2096900.0,422400.0,152500.0,15900.0,29100.0,1800.0,51200.0

In [60]:
gender_df = gender_df.drop(columns=['Delete','Total'])
gender_df = gender_df.dropna()
gender_df.head()

           State  Male  Female
0  United States  0.49    0.51
1        Alabama  0.48    0.52
2         Alaska  0.51    0.49
3        Arizona  0.50    0.50
4       Arkansas  0.49    0.51

In [61]:
employment_df = employment_df.drop(columns=['Delete1','Delete2', 'Delete3'])
employment_df = employment_df.dropna()
employment_df.head()

           State  Unemployed     Employed
0  United States  25556400.0  258069500.0
1        Alabama    551500.0    3914500.0
2         Alaska     59000.0     606600.0
3        Arizona    569200.0    5512100.0
4       Arkansas    321300.0    2379500.0

In [62]:
age_df = age_df.drop(columns=['8'])
age_df = age_df.drop(columns=['Total'])
age_df = age_df.dropna()
age_df.head()

,State,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+
0,United States,76770400.0,27241500.0,34823900.0,85799700.0,33433900.0,37200300.0
1,Alabama,1168700.0,429900.0,509400.0,1274800.0,531800.0,612400.0
2,Alaska,184700.0,74100.0,79700.0,189300.0,78700.0,48100.0
3,Arizona,1776500.0,572900.0,801300.0,1691800.0,669500.0,850900.0
4,Arkansas,727200.0,250300.0,314800.0,763200.0,324000.0,390200.0

In [63]:
Census_data_1 = pd.merge(race_df,gender_df, on=["State"])
Census_data_1.head()

,State,White,Hispanic,Black,American Indian/Alaska Native,Asian+,Native Hawaiian/Other Pacific Islander,Two Or More Races,Male,Female
0,United States,193573200.0,35033200.0,45753600.0,1919700.0,12947100.0,384400.0,5658400.0,0.49,0.51
1,Alabama,3108700.0,1169700.0,124800.0,22200.0,43900.0,NaN,56600.0,0.48,0.52
2,Alaska,433100.0,18700.0,34600.0,86900.0,30400.0,5600.0,45300.0,0.51,0.49
3,Arizona,3704300.0,214500.0,1922100.0,261200.0,148600.0,6300.0,106000.0,0.50,0.50
4,Arkansas,2096900.0,422400.0,152500.0,15900.0,29100.0,1800.0,51200.0,0.49,0.51

In [64]:
Census_data_2 = pd.merge(Census_data_1,employment_df, on=["State"])
Census_data_2.head()

,State,White,Hispanic,Black,American Indian/Alaska Native,Asian+,Native Hawaiian/Other Pacific Islander,Two Or More Races,Male,Female,Unemployed,Employed
0,United States,193573200.0,35033200.0,45753600.0,1919700.0,12947100.0,384400.0,5658400.0,0.49,0.51,25556400.0,258069500.0
1,Alabama,3108700.0,1169700.0,124800.0,22200.0,43900.0,NaN,56600.0,0.48,0.52,551500.0,3914500.0
2,Alaska,433100.0,18700.0,34600.0,86900.0,30400.0,5600.0,45300.0,0.51,0.49,59000.0,606600.0
3,Arizona,3704300.0,214500.0,1922100.0,261200.0,148600.0,6300.0,106000.0,0.50,0.50,569200.0,5512100.0
4,Arkansas,2096900.0,422400.0,152500.0,15900.0,29100.0,1800.0,51200.0,0.49,0.51,321300.0,2379500.0

In [65]:
Census_data_3 = pd.merge(Census_data_2,age_df, on=["State"])
Census_data_3.head()

,State,White,Hispanic,Black,American Indian/Alaska Native,Asian+,Native Hawaiian/Other Pacific Islander,Two Or More Races,Male,Female,Unemployed,Employed,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+
0,United States,193573200.0,35033200.0,45753600.0,1919700.0,12947100.0,384400.0,5658400.0,0.49,0.51,25556400.0,258069500.0,76770400.0,27241500.0,34823900.0,85799700.0,33433900.0,37200300.0
1,Alabama,3108700.0,1169700.0,124800.0,22200.0,43900.0,NaN,56600.0,0.48,0.52,551500.0,3914500.0,1168700.0,429900.0,509400.0,1274800.0,531800.0,612400.0
2,Alaska,433100.0,18700.0,34600.0,86900.0,30400.0,5600.0,45300.0,0.51,0.49,59000.0,606600.0,184700.0,74100.0,79700.0,189300.0,78700.0,48100.0
3,Arizona,3704300.0,214500.0,1922100.0,261200.0,148600.0,6300.0,106000.0,0.50,0.50,569200.0,5512100.0,1776500.0,572900.0,801300.0,1691800.0,669500.0,850900.0
4,Arkansas,2096900.0,422400.0,152500.0,15900.0,29100.0,1800.0,51200.0,0.49,0.51,321300.0,2379500.0,727200.0,250300.0,314800.0,763200.0,324000.0,390200.0

In [69]:
Census_data_total = pd.merge(Census_data_3,pop_year_2007, on=["State"])
Census_data_total

,State,White,Hispanic,Black,American Indian/Alaska Native,Asian+,Native Hawaiian/Other Pacific Islander,Two Or More Races,Male,Female,Unemployed,Employed,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,Population
0,United States,193573200.0,35033200.0,45753600.0,1919700.0,12947100.0,384400.0,5658400.0,0.49,0.51,25556400.0,258069500.0,76770400.0,27241500.0,34823900.0,85799700.0,33433900.0,37200300.0,301231207.0
1,Alabama,3108700.0,1169700.0,124800.0,22200.0,43900.0,NaN,56600.0,0.48,0.52,551500.0,3914500.0,1168700.0,429900.0,509400.0,1274800.0,531800.0,612400.0,4672840.0
2,Alaska,433100.0,18700.0,34600.0,86900.0,30400.0,5600.0,45300.0,0.51,0.49,59000.0,606600.0,184700.0,74100.0,79700.0,189300.0,78700.0,48100.0,680300.0
3,Arizona,3704300.0,214500.0,1922100.0,261200.0,148600.0,6300.0,106000.0,0.50,0.50,569200.0,5512100.0,1776500.0,572900.0,801300.0,1691800.0,669500.0,850900.0,6167681.0
4,Arkansas,2096900.0,422400.0,152500.0,15900.0,29100.0,1800.0,51200.0,0.49,0.51,321300.0,2379500.0,727200.0,250300.0,314800.0,763200.0,324000.0,390200.0,2848650.0
5,California,15080500.0,2071300.0,13174300.0,150200.0,4396000.0,122600.0,887200.0,0.50,0.50,2992500.0,31874400.0,9749000.0,3619900.0,4515600.0,10346900.0,3643000.0,4007600.0,36250311.0
6,Colorado,3422900.0,160700.0,967900.0,30400.0,126000.0,4500.0,104400.0,0.50,0.50,333600.0,4319900.0,1249600.0,449500.0,636000.0,1442600.0,542100.0,496800.0,4803868.0
7,Connecticut,2498400.0,298400.0,410400.0,6000.0,113300.0,NaN,56400.0,0.49,0.51,220600.0,2931300.0,842100.0,278400.0,346300.0,1060800.0,403800.0,452500.0,3527270.0
8,Delaware,571900.0,168500.0,60800.0,2800.0,24200.0,NaN,16100.0,0.48,0.52,70300.0,729600.0,216800.0,76300.0,91700.0,242800.0,102100.0,114600.0,871749.0
9,District of Columbia,176700.0,301800.0,48800.0,1700.0,17600.0,NaN,11600.0,0.47,0.53,80900.0,492900.0,117000.0,62300.0,90200.0,159200.0,64300.0,66000.0,574404.0
10,Florida,10772300.0,2598100.0,3771200.0,35500.0,410100.0,6300.0,280600.0,0.49,0.51,1582300.0,14770300.0,4172400.0,1527100.0,1927000.0,5022200.0,2121600.0,3104000.0,18367842.0
11,Georgia,5466500.0,2726500.0,761300.0,15000.0,267000.0,NaN,136800.0,0.49,0.51,900000.0,8429500.0,2634700.0,853400.0,1158000.0,2789300.0,994100.0,946900.0,9349988.0
12,Hawaii,290100.0,23800.0,100400.0,1600.0,474400.0,104400.0,234400.0,0.49,0.51,114000.0,1042700.0,296200.0,117400.0,134000.0,347800.0,147400.0,186300.0,1315675.0
13,Idaho,1259500.0,8400.0,154600.0,13600.0,16200.0,NaN,30700.0,0.50,0.50,108900.0,1314300.0,428400.0,142700.0,180100.0,396700.0,166500.0,170000.0,1505105.0
14,Illinois,8094900.0,1775900.0,1931100.0,13500.0,549700.0,NaN,189600.0,0.49,0.51,979300.0,11053800.0,3313600.0,1190900.0,1538400.0,3655400.0,1355500.0,1502200.0,12695866.0
15,Indiana,5143900.0,515100.0,314100.0,12900.0,82900.0,NaN,101900.0,0.49,0.51,553700.0,5403200.0,1631500.0,532800.0,739300.0,1797900.0,701700.0,769700.0,6379599.0
16,Iowa,2609000.0,77500.0,118700.0,4300.0,43700.0,NaN,39000.0,0.49,0.51,151700.0,2483000.0,727200.0,279600.0,311300.0,824500.0,340300.0,411000.0,2999212.0
17,Kansas,2172500.0,140800.0,259600.0,15900.0,56000.0,NaN,55200.0,0.49,0.51,169200.0,2354500.0,715000.0,262700.0,316700.0,757100.0,303100.0,346900.0,2783785.0
18,Kentucky,3649900.0,296600.0,95900.0,5100.0,40600.0,NaN,54800.0,0.49,0.52,576500.0,3608400.0,1038900.0,348600.0,492200.0,1229700.0,498900.0,535200.0,4256672.0
19,Louisiana,2658000.0,1335400.0,146100.0,21300.0,62200.0,NaN,50200.0,0.48,0.52,480200.0,3762400.0,1151300.0,432300.0,489200.0,1194900.0,494600.0,511400.0,4375581.0
20,Maine,1215200.0,9700.0,12000.0,6100.0,9200.0,NaN,21500.0,0.48,0.52,121800.0,1081900.0,283600.0,95500.0,126800.0,403500.0,172600.0,192200.0,1327040.0
21,Maryland,3143000.0,1555700.0,365200.0,11400.0,276100.0,NaN,117700.0,0.48,0.52,336900.0,4810200.0,1391500.0,497500.0,618300.0,1668900.0,634000.0,659700.0,5653408.0
22,Massachusetts,4932400.0,350600.0,536700.0,9800.0,302800.0,NaN,132300.0,0.49,0.51,466600.0,5459000.0,1491100.0,566900.0,726200.0,1933600.0,741200.0,806000.0,6431559.0
23,Michigan,7594800.0,1317400.0,396100.0,45900.0,217500.0,2400.0,190400.0,0.49,0.51,1076400.0,8516400.0,2505200.0,882400.0,1078700.0,2888600.0,1161400.0,1248100.0,10001284.0
24,Minnesota,4326700.0,233700.0,212800.0,50000.0,176900.0,NaN,84100.0,0.50,0.50,296200.0,4479300.0,1297300.0,473900.0,598900.0,1528500.0,580700.0,605200.0,5207203.0
25,Mississippi,1661000.0,1054600.0,51400.0,11800.0,22400.0,NaN,25100.0,0.48,0.52,365800.0,2479400.0,793800.0,267900.0,315900.0,784100.0,317800.0,347400.0,2928350.0
26,Missouri,4729200.0,618900.0,175800.0,18100.0,80300.0,NaN,102300.0,0.49,0.51,504300.0,4969000.0,1459600.0,530500.0,667800.0,1643600.0,667500.0,759200.0,5887612.0
27,Montana,824400.0,2900.0,29600.0,58000.0,4800.0,NaN,18300.0,0.49,0.51,72700.0,810000.0,240200.0,89300.0,99800.0,261500.0,119200.0,128400.0,964706.0
28,Nebraska,1442000.0,70500.0,143400.0,10100.0,30300.0,NaN,24400.0,0.50,0.51,80000.0,1500300.0,468000.0,158800.0,203800.0,479100.0,190600.0,220700.0,1783440.0
29,Nevada,1447500.0,181000.0,664100.0,28400.0,153500.0,10900.0,71400.0,0.51,0.49,198400.0,2262900.0,691300.0,216400.0,328100.0,737000.0,290000.0,293900.0,2601072.0
30,New Hampshire,1185300.0,8000.0,37700.0,NaN,26100.0,NaN,15600.0,0.49,0.51,69600.0,1117400.0,302500.0,102300.0,134800.0,413300.0,164600.0,157900.0,1312540.0
31,New Jersey,5240200.0,1085700.0,1399200.0,10200.0,633500.0,NaN,125100.0,0.49,0.51,550100.0,7398600.0,2137300.0,722400.0,938200.0,2639000.0,961700.0,1096000.0,8677885.0
32,New Mexico,803100.0,36000.0,876200.0,162700.0,24700.0,NaN,30800.0,0.49,0.51,199000.0,1679200.0,523300.0,187700.0,225100.0,521300.0,221800.0,254800.0,1990070.0
33,New York,11360200.0,2748600.0,3154900.0,50500.0,1299800.0,6100.0,323800.0,0.48,0.52,1645400.0,16459000.0,4600800.0,1805700.0,2199300.0,5657400.0,2195800.0,2485000.0,19132335.0
34,North Carolina,5975700.0,1853900.0,657500.0,87100.0,166600.0,2700.0,142700.0,0.48,0.52,872200.0,7793300.0,2318000.0,757500.0,1052800.0,2622200.0,1042700.0,1093000.0,9118037.0
35,North Dakota,550200.0,4200.0,12600.0,33000.0,NaN,NaN,6900.0,0.50,0.50,35800.0,526500.0,143400.0,73300.0,70100.0,161700.0,78000.0,83800.0,652822.0
36,Ohio,9210900.0,1276300.0,285400.0,19500.0,176500.0,NaN,188100.0,0.49,0.51,1054500.0,9662200.0,2834800.0,972400.0,1271300.0,3255800.0,1327800.0,1495300.0,11500468.0
37,Oklahoma,2507300.0,238200.0,267200.0,214200.0,59200.0,3800.0,219000.0,0.49,0.51,333600.0,3043900.0,938700.0,334100.0,419400.0,947700.0,403900.0,464900.0,3634349.0
38,Oregon,2963100.0,63000.0,408300.0,34800.0,124100.0,8400.0,110200.0,0.50,0.51,311000.0,3222100.0,902900.0,333100.0,460300.0,1057200.0,468700.0,489800.0,3722417.0
39,Pennsylvania,9799700.0,1176300.0,566700.0,13100.0,286700.0,NaN,157100.0,0.49,0.52,1033200.0,10212200.0,2854800.0,1027600.0,1262900.0,3586200.0,1480700.0,1790500.0,12563937.0
40,Rhode Island,793100.0,47200.0,115500.0,3200.0,29100.0,NaN,21000.0,0.48,0.52,91500.0,869400.0,233300.0,98500.0,108400.0,309400.0,119800.0,140000.0,1057315.0
41,South Carolina,2819300.0,1205500.0,167900.0,9600.0,45400.0,NaN,69400.0,0.48,0.52,512700.0,3744400.0,1105000.0,385400.0,480700.0,1232800.0,540500.0,574000.0,4444110.0
42,South Dakota,662700.0,6700.0,21300.0,59300.0,5000.0,NaN,14900.0,0.50,0.50,53400.0,661700.0,208800.0,65500.0,81600.0,217200.0,88600.0,108200.0,791623.0
43,Tennessee,4662800.0,970400.0,228400.0,13600.0,77300.0,NaN,89100.0,0.49,0.52,589800.0,5264300.0,1516800.0,518200.0,721300.0,1775000.0,733100.0,781000.0,6175727.0
44,Texas,11213000.0,2591500.0,8626100.0,68800.0,819300.0,16000.0,308200.0,0.50,0.51,1935200.0,21274000.0,6989400.0,2290300.0,3017100.0,6634500.0,2342700.0,2369000.0,23831983.0
45,Utah,2202100.0,25800.0,317800.0,24900.0,51600.0,21500.0,43000.0,0.50,0.50,145900.0,2447300.0,884200.0,329200.0,378800.0,631800.0,223200.0,239500.0,2597746.0
46,Vermont,569600.0,3400.0,6200.0,NaN,NaN,NaN,13100.0,0.49,0.51,41100.0,515800.0,132700.0,50100.0,60900.0,191000.0,81000.0,83400.0,623481.0
47,Washington,4795600.0,204900.0,625000.0,79800.0,417500.0,23800.0,223900.0,0.50,0.51,534800.0,5610000.0,1607700.0,551100.0,782300.0,1896300.0,772500.0,760600.0,6461587.0
48,West Virginia,1654600.0,55000.0,20100.0,2400.0,8100.0,NaN,24700.0,0.49,0.51,235700.0,1494700.0,391400.0,148600.0,196900.0,514100.0,243700.0,270500.0,1834052.0
49,Wisconsin,4658700.0,295500.0,277500.0,37000.0,117700.0,NaN,80500.0,0.50,0.51,359100.0,4756700.0,1356900.0,501700.0,618700.0,1632800.0,646500.0,710800.0,5610775.0
50,Wyoming,446500.0,4500.0,41600.0,8900.0,2900.0,NaN,11700.0,0.50,0.50,29800.0,452700.0,134900.0,48500.0,59600.0,146700.0,62900.0,63400.0,534876.0
51,Puerto Rico,27400.0,4400.0,3865800.0,NaN,NaN,NaN,NaN,0.48,0.52,1007400.0,3370600.0,1030200.0,392200.0,477800.0,1026300.0,444100.0,531400.0,3782995.0

In [73]:
Census_data_total.to_csv(output_data_file)